---
export interface Props {
  title?: string;
  description: string;
  lastUpdatedDate?: Date;
  publicationDate?: Date;
  image?: string;
}

const {
  title,
  description,
  lastUpdatedDate,
  publicationDate,
  image = "/.well-known/lambda.png",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageProfileURL = new URL(image, Astro.url);

const blogJsonLd = lastUpdatedDate && {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": canonicalURL,
  },
  headline: title,
  description: description,
  image: imageProfileURL,
  author: {
    "@type": "Person",
    name: "R.W. Blickhan",
    url: "https://rwblickhan.org",
  },
  publisher: {
    "@type": "Person",
    name: "R.W. Blickhan",

    logo: {
      "@type": "ImageObject",
      url: imageProfileURL,
    },
  },
  datePublished:
    publicationDate?.toISOString() ?? lastUpdatedDate.toISOString(),
  dateModified: lastUpdatedDate.toISOString(),
};
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title ? `${title} · rwblickhan.org` : `rwblickhan.org`}</title>
  <meta name="title" content={title ?? "rwblickhan.org"} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title ?? "rwblickhan.org"} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={imageProfileURL} />

  <!-- Favicon -->
  <!-- https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <!-- RSS -->
  <link
    rel="alternate"
    href="/rss.xml"
    type="application/rss+xml"
    title="Subscribe to rwblickhan.org"
  />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title ?? "rwblickhan.org"} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={imageProfileURL} />

  <!-- Mastodon -->
  <link rel="me" href="https://mastodon.social/@rwblickhan" />

  <!-- JSON-LD -->
  {
    blogJsonLd && (
      <script
        type="application/ld+json"
        is:inline
        set:html={JSON.stringify(blogJsonLd)}
      />
    )
  }

  <!-- https://www.docuseal.com/blog/make-any-website-load-faster-with-6-lines-html -->
  <script is:inline type="speculationrules">
    {
      "prerender": [
        { "where": { "href_matches": "/*" }, "eagerness": "moderate" }
      ],
      "prefetch": [
        { "where": { "href_matches": "/*" }, "eagerness": "moderate" }
      ]
    }
  </script>

  <script>
    function handleImageFloat() {
      const images = document.querySelectorAll("img");
      images.forEach((image, idx) => {
        image.onload = function () {
          if (
            image.classList.contains("force-float-left") ||
            image.classList.contains("force-float-right")
          ) {
            return;
          }

          const container = image.closest("article");
          const containerWidth = container?.offsetWidth ?? 0;
          const floatDirection = idx % 2 === 0 ? "right" : "left";
          if (image.naturalWidth < containerWidth * 0.6) {
            image.style.float = floatDirection;
            image.style.marginInlineStart =
              floatDirection === "left" ? "0" : "1rem";
            image.style.marginInlineEnd =
              floatDirection === "right" ? "0" : "1rem";
            image.style.marginBlockEnd = "1rem";
          } else {
            image.style.float = "none";
            image.style.marginInline = "auto";
            image.style.marginBlockEnd = "0";
          }
        };
      });
    }

    handleImageFloat();
    window.addEventListener("resize", handleImageFloat);
  </script>
  <script>
    import { accented } from "accented";
    if (import.meta.env.MODE === "development") {
      accented();
    }
  </script>
</head>
