---
import CollapseButton from "./CollapseButton.astro";
import ExpandButton from "./ExpandButton.astro";
import SearchLink from "./SearchLink.astro";
import CollectionLink from "./CollectionLink.astro";

const collections = [
  ["Fiction", "fiction"],
  ["Essays", "essays"],
  ["Technical", "technical"],
  ["Logs", "logs"],
  ["TIL", "til"],
  ["Miscellaneous", "misc"],
  ["Gallery", "gallery"],
];
---

<script>
  const collectionElements = document.querySelectorAll("#collection");
  const expandButton = document.querySelector("#expandButton");
  const collapseButton = document.querySelector("#collapseButton");

  expandButton?.classList.remove("hidden");

  expandButton?.addEventListener("click", () => {
    collectionElements.forEach((el) => {
      el.classList.remove("hidden");
    });
    console.log(`collapseButton: ${collapseButton}`);
    expandButton.classList.add("hidden");
    collapseButton?.classList.remove("hidden");
  });

  collapseButton?.addEventListener("click", () => {
    collectionElements.forEach((el) => {
      el.classList.add("hidden");
    });
    expandButton?.classList.remove("hidden");
    collapseButton.classList.add("hidden");
  });
</script>

<header class="flex flex-col absolute md:fixed top-0 inset-x-0 z-0">
  <div
    class="px-4 lg:px-12 bg-black h-24 w-full flex items-center justify-between"
  >
    <a
      class="text-white dark:text-rwb-text-dark text-3xl lg:text-4xl no-underline hover:underline"
      href="/index.html"
    >
      rwblickhan.org
    </a>
    <div class="flex flex-row items-center">
      <SearchLink />
      <ExpandButton id="expandButton" />
      <CollapseButton id="collapseButton" />
    </div>
  </div>
  {
    collections.map(([title, slug]) => (
      <CollectionLink id="collection" slug={slug} title={title} />
    ))
  }
  <noscript>
    <div class="p-4 bg-black flex flex-row items-center justify-around">
      {
        collections.map(([title, slug]) => (
          <a
            class="text-white dark:text-rwb-text-dark text-2xl no-underline hover:underline"
            href={`/${slug}`}
          >
            {title}
          </a>
        ))
      }
    </div>
  </noscript>
</header>
