---
export interface Props {
  title: string;
  href: string;
  description?: string;
  lastUpdatedDate?: Date;
  publicationDate?: Date;
}

const { title, href, description, lastUpdatedDate, publicationDate } =
  Astro.props;
---

<a href={href} aria-label={title}>
  <p><strong>{title}</strong></p>
  {description && <p>{description}</p>}
  {
    lastUpdatedDate && (
      <p>Last updated: {lastUpdatedDate.toLocaleDateString()}</p>
    )
  }
  {
    publicationDate && (
      <p>Originally published: {publicationDate.toLocaleDateString()}</p>
    )
  }
</a>

<style>
  a {
    border: 1px solid var(--rwb-text);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &:hover {
      border-color: var(--rwb-link);
      color: var(--rwb-link);
    }
  }

  h2 {
    margin: 0.5rem 0;
    font-weight: normal;
  }

  p {
    margin: 0;
  }
</style>
