---
import { getCollection } from "astro:content";

import IndexLayout from "../../layouts/IndexLayout.astro";
import LinkBox from "../../components/LinkBox.astro";

const posts = (await getCollection("misc")).sort(
  (a, b) => b.data.lastUpdatedDate.valueOf() - a.data.lastUpdatedDate.valueOf()
);

const recipes = await getCollection("recipes");
---

<IndexLayout title="Miscellaneous" description="Miscellaneous index page">
  <div
    class="grid gap-4 grid-cols-1 md:grid-cols-2 place-items-stretch grid-rows-none prose-headings:text-rwb-link-light dark:prose-headings:text-rwb-link-dark"
  >
    {
      posts.map((post) => (
        <LinkBox
          title={post.data.title}
          href={`/misc/${post.slug}`}
          lastUpdatedDate={post.data.lastUpdatedDate}
        />
      ))
    }
  </div>

  <h2>Recipes</h2>

  <div
    class="grid gap-4 grid-cols-1 md:grid-cols-2 place-items-stretch grid-rows-none prose-headings:text-rwb-link-light dark:prose-headings:text-rwb-link-dark"
  >
    {
      recipes.map((recipe) => (
        <LinkBox
          title={recipe.data.title}
          href={`/misc/recipes/${recipe.slug}`}
          lastUpdatedDate={recipe.data.lastUpdatedDate}
        />
      ))
    }
  </div>
</IndexLayout>
