---
import { getCollection } from "astro:content";

import IndexLayout from "../../layouts/IndexLayout.astro";
import LinkBox from "../../components/LinkBox.astro";
import IndexGridLayout from "../../layouts/IndexGridLayout.astro";

const posts = (await getCollection("misc")).sort(
  (a, b) => b.data.lastUpdatedDate.valueOf() - a.data.lastUpdatedDate.valueOf()
);

const recipes = (await getCollection("recipes")).sort(
  (a, b) => b.data.lastUpdatedDate.valueOf() - a.data.lastUpdatedDate.valueOf()
);
---

<IndexLayout title="Miscellaneous" description="Miscellaneous index page">
  <IndexGridLayout>
    {
      posts.map((post) => (
        <LinkBox
          title={post.data.title}
          href={`/misc/${post.slug}`}
          lastUpdatedDate={post.data.lastUpdatedDate}
        />
      ))
    }
  </IndexGridLayout>

  <h2>Recipes</h2>

  <IndexGridLayout>
    {
      recipes.map((recipe) => (
        <LinkBox
          title={recipe.data.title}
          href={`/misc/recipes/${recipe.slug}`}
          lastUpdatedDate={recipe.data.lastUpdatedDate}
        />
      ))
    }
  </IndexGridLayout>
</IndexLayout>
