---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/index.css";

// export interface Props {
//   title: string;
//   description: string;
//   width: "small" | "medium" | "large";
// }

const {
  title,
  description,
  width,
  lastUpdatedDate,
  publicationDate,
  parentCollection,
  shouldIndex,
} = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    lastUpdatedDate={lastUpdatedDate}
    publicationDate={publicationDate}
  />
  <Header parentCollection={parentCollection} />
  {
    shouldIndex ? (
      <main class={width} data-pagefind-body>
        <slot />
      </main>
    ) : (
      <main class={width}>
        <slot />
      </main>
    )
  }
</html>

<style>
  main {
    padding: 0 1rem;
    margin-bottom: 1rem;
    container-type: inline-size;
  }

  @media (min-width: 768px) {
    main {
      margin-left: auto;
      margin-right: auto;

      &.small {
        max-width: 48rem;
      }

      &.medium {
        max-width: 64rem;
      }

      &.large {
        max-width: 80rem;
      }
    }
  }
</style>
