---
import MailIcon from "../components/MailIcon.astro";
import type { Collection } from "../content.config.ts";
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  title: string;
  includeResponseLink?: boolean;
  description?: string;
  lastUpdatedDate?: Date;
  publicationDate?: Date;
  parentCollection?: Collection;
}

const {
  title = "R. W. Blickhan",
  description = "The personal site of R. W. Blickhan",
  includeResponseLink = true,
  lastUpdatedDate,
  publicationDate,
  parentCollection,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  lastUpdatedDate={lastUpdatedDate}
  publicationDate={publicationDate}
  width="small"
  parentCollection={parentCollection}
  shouldIndex={true}
>
  <h1>{title}</h1>
  {
    (lastUpdatedDate || publicationDate) && (
      <p>
        <strong>
          {lastUpdatedDate && (
            <span>Last updated: {lastUpdatedDate.toLocaleDateString()}</span>
          )}
          {lastUpdatedDate && publicationDate && <span> | </span>}
          {publicationDate && (
            <span>
              Originally published: {publicationDate.toLocaleDateString()}
            </span>
          )}
        </strong>
      </p>
    )
  }
  <slot />
  {
    includeResponseLink && (
      <a
        href={`mailto:reply@rwblickhan.org?subject=${encodeURIComponent("Reply to " + title)}`}
      >
        <MailIcon />
        Reply by email!
      </a>
    )
  }
</BaseLayout>

<style>
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-inline: auto;
    width: fit-content;
    border: 1px solid var(--rwb-text);
    border-radius: 8px;
    padding: 0.5rem;
  }

  a:hover {
    border-color: var(--rwb-link);
  }

  p {
    text-align: center;
  }
</style>
